.slide-in {
    transform: translateY(300px);
    animation: slideIn 1.5s ease-in forwards;
}
.slide-up{
    animation: slideUp 0.8s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .popup{
      animation: popup 0.5s ease-out;
  }

  @keyframes popup {
    0%{
      transform: scale(0.85);
    }
    60%{
        transform: scale(1);
      }
      70%{
        transform: scale(1);
      }
      80%{
        transform: scale(1);
      }
    100%{
      transform: scale(1);
    }
  }
  