$primary-btn-action: #dbecff;
$secondary-btn-action: #e8f8ea;
$info-btn-action: #f5f5f5;
$general-btn-action: #f5f5f5;

$secondary-color: #1967d2;
$alternate-color: #f0f0f0;
$special-color: #fbbc04;

$content-color: #423f3f;

$primary-block-color: #ffffff;
$secondary-block-color: #e7e7e7; // or #3cbcd0 (sky blue) : #ac94c8 (lavender)
$info-block-color: #dadada;

$heading-color: #7d7d7d;

$danger-color: #d93025;
$success-color: #188038;

$primary-action-color: #1967d2;
$secondary-action-color: #15a306;
$info-action-color: #6e6e6e;

$general-event-color: #1f1f1f;

$main-font: "Poppins", sans-serif;
$heading-font: "Manrope", sans-serif;
$subtitle-font: "Poppins", sans-serif;
$button-font: "Poppins", sans-serif;