/* Sass */
@import "../../assets/style/variables";
.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $primary-action-color;
    animation: curving-circle 1s infinite;
    transform-origin: center center;
}

@for $num from 1 through 8 {
    .circle:nth-child(#{$num}) {
        left: ($num - 1) * 30px;
        animation-delay: $num * 0.1s;
    }
}

@keyframes curving-circle {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        background-color: $primary-action-color;
    }
    50% {
        transform: translate(0, 50px) scale(0.4);
        opacity: 0.5;
        background-color: $primary-btn-action;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        background-color: $primary-action-color;
    }
}
